@model ExpediFlow.Models.Flujo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Crear Flujo</h3>
        </div>
         <form asp-action="Create">
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NombreFlujo" class="control-label"></label>
                                <input asp-for="NombreFlujo" class="form-control" />
                                <span asp-validation-for="NombreFlujo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdSubTramite" class="control-label"></label>
                                <select asp-for="IdSubTramite" class ="form-control" asp-items="ViewBag.IdSubTramite"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descipcion" class="control-label"></label>
                                <input asp-for="Descipcion" class="form-control" />
                                <span asp-validation-for="Descipcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdEstadoInicial" class="control-label"></label>
                            <select asp-for="IdEstadoInicial" class="form-control select2bs4" asp-items="ViewBag.IdEstadoInicial"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="IdEstadoFinal" class="control-label"></label>
                            <select asp-for="IdEstadoFinal" class="form-control select2bs4" asp-items="ViewBag.IdEstadoFinal"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="TiempoMax" class="control-label"></label>
                                <input asp-for="TiempoMax" class="form-control" />
                                <span asp-validation-for="TiempoMax" class="text-danger"></span>
                            </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Crear" class="btn btn-primary" style="background-color: var(--blue);" />
            <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
