@model ExpediFlow.Models.Dictaman

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header" style="background-color: var(--blue);">
            <h3 class="card-title">Editar Dictamen</h3>
        </div>
         <form asp-action="Edit">
        <div class="card-body">
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                <h5>Información General</h5>
                <br/>
                <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdDictamen" />
                                <div class="form-group">
                                    <label asp-for="IdExpediente" class="control-label"></label>
                            <select asp-for="IdExpediente" class="form-control select2bs4" asp-items="ViewBag.IdExpediente"></select>
                                    <span asp-validation-for="IdExpediente" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NumeroDictamen" class="control-label"></label>
                            <input asp-for="NumeroDictamen" class="form-control" readonly />
                                    <span asp-validation-for="NumeroDictamen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FechaDictamen" class="control-label"></label>
                                    <input asp-for="FechaDictamen" class="form-control" readonly />
                                    <span asp-validation-for="FechaDictamen" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Justificacion" class="control-label"></label>
                                    <input asp-for="Justificacion" class="form-control" />
                                    <span asp-validation-for="Justificacion" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="IdUsuarioDictamen" class="control-label"></label>
                                    <input asp-for="IdUsuarioDictamen" class="form-control" readonly/>
                                    <span asp-validation-for="IdUsuarioDictamen" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check form-switch ml-5">
                                    <label class="form-check-label">
                                <input class="form-check-input" asp-for="Activo" readonly /> @Html.DisplayNameFor(model => model.Activo)
                                    </label>
                                </div>
                               
                    
                </div>
            </div>
            <div class="callout callout-info" style="border-left-color: var(--blue);">
                    <h5>Otros</h5>
                    <br />
                    <div class="row">

                        <div class="form-group">
                            <label asp-for="FechaCreacion" class="control-label"></label>
                            <input asp-for="FechaCreacion" class="form-control" readonly />
                            <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaModificacion" class="control-label"></label>
                            <input asp-for="FechaModificacion" class="form-control" readonly />
                            <span asp-validation-for="FechaModificacion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CreadoPor" class="control-label"></label>
                            <input asp-for="CreadoPor" class="form-control" readonly />
                            <span asp-validation-for="CreadoPor" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ModificadoPor" class="control-label"></label>
                            <input asp-for="ModificadoPor" class="form-control" readonly />
                            <span asp-validation-for="ModificadoPor" class="text-danger"></span>
                        </div>

                    </div>
                </div>
        </div>

        <div class="card-footer">
            <input type="submit" value="Guardar" class="btn btn-primary" style="background-color: var(--blue);" />
            <a asp-action="Index" class="btn btn-secondary">Regresar a la Lista</a>
         </div>
      </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
